<div class="bootstrap-wrapper">
    <div class="container ">
        <div class="row">
            <div class="col-sm-6 offset-md-3">
                <mat-card color="primary">
                    <mat-card-header class="text-center">

                        <div class="container">

                            <mat-card-title style="font-weight: bold;">Profile</mat-card-title>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="text-center">

                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" name="email" id="email" #email="ngModel" required
                                    [(ngModel)]="washer[0].email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                    <mat-error *ngIf="email.errors?.['pattern']">
                                        Enter correct email
                                    </mat-error>

                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Full Name</mat-label>
                                <input matInput type="text" name="fullname" id="fullname" #fullName="ngModel" required
                                    [(ngModel)]="washer[0].fullName" pattern="[a-zA-Z ]{5,}">
                                    <mat-error *ngIf="fullName.errors?.['pattern']">
                                        Invalid Name
                                    </mat-error>

                            </mat-form-field>
                            
                        </p>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Phone Number</mat-label>
                                <input matInput type="tel" name="phonenumber" id="phonenumber" #phoneNumber="ngModel"
                                    required [(ngModel)]="washer[0].phoneNunmber" pattern="^((\\+91-?)|0)?[0-9]{10}$">
                                    <mat-error *ngIf="phoneNumber.errors?.['pattern']">
                                        Enter 10 digit phone Number
                                    </mat-error>

                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>UserName</mat-label>
                                <input matInput type="text" name="username" id="username" #username="ngModel" required
                                    [(ngModel)]="washer[0].username" pattern="[A-Za-z]{6,}">
                                    <mat-error *ngIf="username.errors?.['pattern']">
                                        Enter min 6 letters username
                                     </mat-error>

                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="outline">
                                <mat-label>Status(Active/InActive)</mat-label>
                                <input matInput type="text" name="status" id="status" #status="ngModel" required
                                    [(ngModel)]="washer[0].status">

                            </mat-form-field>
                        </p>

                        <div class="container text-center">
                            <button type="submit" (click)="updateWasherDetails()" mat-raised-button
                                color="accent">Save Details</button>
                                <button class="btn1" type="submit" (click)="back()" mat-raised-button
                                color="primary">Back</button>
                        </div>
<br><br><br>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

