<div>
    <div>     
    <p  class="heading"><b>Contact Us</b></p>
    <p class="heading1">We Will Get Back</p>
    <p class="heading1">To You In 48 Hours </p>
    <br><br><p></p>
</div>
    <div class="container">
<div class="card-body">
    <h4><mat-icon> home</mat-icon>ADDRESS</h4>
    <p class="card-text">PriyaMaheshwari<br>Airoli-400708<br> </p>
    <h4><mat-icon> call</mat-icon>PHONE NUMBER</h4>
    <p>1234567890</p>
    <h4><mat-icon> email</mat-icon>EMAIL ID</h4>
    <p>carwash@gmail.com</p>
</div>
<div >
    <img class="img1" src="../../../assets/images/contact1.webp"  width="70%" height="25%">
</div>
</div>
<button class="btn" color="primary" (click)="back()" mat-flat-button >Back</button><br><br><br>
</div>
