<ng-container *ngIf="true">
    <div class="container">
        <div class="pt-5">
          <div class="card">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">pack_id</th>
              <th scope="col">name</th>
              <th scope="col">cost</th>
              <th scope="col">quantity</th>
              <th scope="col">Total Cost</th>

              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              
              <th scope="row">10001</th>
              <td>clean wash</td>
              <td>1300</td>
              <td>2</td>
              <td>2600</td>

              <!-- <td>
                  <a class="btn btn-primary" [routerLink]="['/admin/updateWp',item.pack_id]">Edit</a>
                  </td> -->
                  <td>
                  <button type="button" class="btn btn-danger" >Delete</button>
              </td>
            </tr>
            
            
          </tbody>
        </table>
      </div>
      </div>
      </div>

</ng-container>









<ng-container *ngIf="false">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>

    </div>
    <div class="center">
        <img src="../../../assets/images/cart.jpg"  alt="">
        <h4>Your cart is empty!</h4>
    <h6>Add item to it now</h6>
    <button class="btn btn-primary">Shop Now</button>
    </div>
</div>
</ng-container>
