
<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 padding-0 dashboard-col-2" >
                <app-washersidenav></app-washersidenav>

            </div>
            <div class="col-md-10 padding-0">
                <router-outlet style="font-family: 'Quicksand', sans-serif;">
                </router-outlet>
                <!-- <img class="display" src="../../../../assets/images/washer.webp" width="105%" height="500"> -->
            </div>
        </div>
    </div>
</div>
