
<div class="container">
  <div class="pt-5">
    <div class="card">
    <div class="row mt-2">
      <div class="col col-md-4 offset-md-4">
       <a class="btn btn-primary" routerLink="/admin/addWP">Add WashPack</a>
      </div>  
    </div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">pack_id</th>
        <th scope="col">name</th>
        <th scope="col">cost</th>
        <th scope="col">description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allWashpacks">
        <th scope="row">{{item.pack_id}}</th>
        <td>{{ item.name}}</td>
        <td>{{ item.cost}}</td>
        <td>{{ item.description}}</td>
        <td>
            <a class="btn btn-primary" [routerLink]="['/admin/updateWp',item.pack_id]">Edit</a>
            </td>
            <td>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal(item.pack_id)">Delete</button>
        </td>
      </tr>
      
      
    </tbody>
  </table>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Confrim Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Confrim Delete</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

