    <!-- <div class="main-body" style="background-image: linear-gradient(125deg,rgb(214, 173, 111),#e9e994);"> -->
        <div class="main-body" style="background-image: linear-gradient(#e5f7c8,white);">
        <div class="heading">
            
            <p>WELCOME To</p><br><br>
        
            <p> <b>Car Wash Done<br></b></p>
        </div>
        <div class="heading">
            <p> <b> By Experts</b></p>
        </div>
        <!-- <div id="carouselExampleIndicators">
    <img src="../../../../assets/images/car-wash.png" width="100%" height="500">
        </div>     -->
        <div class="one" >
            <input class="btn2" type="radio" name="position" />
            <input class="btn2" type="radio" name="position" />
            <input class="btn2" type="radio" name="position" />
            <input class="btn2" type="radio" name="position" />
            <input class="btn2" type="radio" name="position"checked/>
            <main id="carousel">
            <div class="item">
            <img src="../../../../assets/images/home1.jpg">
        </div>
        <div class="item">
            <img src="../../../../assets/images/home5.jpg" height="400px" >
        </div>
        <div class="item">
            <img src="../../../../assets/images/home3.jpg" height="400px">
        </div>
        <div class="item">
            <img src="../../../../assets/images/home4.webp" height="400px">
        </div>
        <div class="item">
            <img src="../../../../assets/images/home2.jpg" height="400px"></div>
        </main>
    </div>

        <div class="gallery">
            <div class="heading">
                <p><b>Our Gallery</b></p>
            </div>
            <div class="row" style="width: 85%; margin: auto;">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/images/gallery1.jpg" width="100%" height="330">
                        <!-- <div class="card-footer"><span>STRONG RELATIONS WITH CUSTOMERS</span></div> -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/images/gallery2.jpg" width="100%" height="330">
                        <!-- <div class="card-footer"><span>WE CARE ABOUT YOUR TIME</span></div> -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/images/gallery3.jpg" width="100%" height="330">
                        <!-- <div class="card-footer"><span>WE PROVIDE THE BEST SERVICES</span></div> -->
                    </div>
                </div>
            <br>
            <br>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/gallery4.jpg" width="100%" height="330">
                    <!-- <div class="card-footer"><span>STRONG RELATIONS WITH CUSTOMERS</span></div> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/gallery5.jpg" width="100%" height="330">
                    <!-- <div class="card-footer"><span>WE CARE ABOUT YOUR TIME</span></div> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="../../../assets/images/gallery6.jpg" width="100%" height="330">
                    <!-- <div class="card-footer"><span>WE PROVIDE THE BEST SERVICES</span></div> -->
                </div>
            </div>
        </div>
    </div>
             <!--<div class="heading">
                <p>What We Provide To Our Customers?</p>
            </div>
            <div class="row" style="width: 85%; margin: auto;">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/images/bestwashers.jpg" width="100%" height="330">
                        <div class="card-footer"><span>BEST WASHERS</span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/images/carparts.jpg" width="100%" height="330">
                        <div class="card-footer">
                            <span>BEST MACHINARY</span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/images/customerservice.jpg" width="100%" height="330">
                        <div class="card-footer"><span>BEST CUSTOMER SERVICE</span></div>
                    </div>
                </div>
        </div> -->
        <!-- <br><br> -->
        <!-- <div id="washer">
            <div class="headWasher">
                <p>BECOME A <b>MEMBER</b><br><br>
                    <span id="title"> Be Relax </span></p>
            </div> -->
            <div class="container-fluid">
                <hr>
                <br><br>
                <div id="washerbutton"> 
                    <!-- <p>for a sparkling good deal</p> -->
                    <span>Join our network now! With One Click on the below Register Button.</span> <br> <br>
                    <mat-menu #lazyMenu="matMenu">
                        <ng-template matMenuContent let-name="name">
                            <button mat-menu-item routerLink="/adminregister">Register As Admin</button>
                            <button class="btno" mat-menu-item  (click)="regis();">Register As User</button>
                            <button class="btno" mat-menu-item routerLink="/washerregister">Register As Washer</button>
                        </ng-template>
                        </mat-menu>
                        <button class="btn btn-primary" [matMenuTriggerData]="{name:'Register'}" [matMenuTriggerFor]="lazyMenu">Register</button>
                        <br><br>                        
                        <hr>
                        <br><br>
                </div>
            </div> 
        </div>
    

