<div class="bootstrap-wrapper">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card color="primary">
                    <mat-card-header class="text-center">
                        <div class="container text-center">
                            <fa-icon [icon]="faReg"></fa-icon>
                            <mat-card-title style="font-weight: bold;">REGISTER</mat-card-title>
                        </div>
                    </mat-card-header><br>
                    <mat-card-content class="text-center">
                        <form #f="ngForm" (ngSubmit)="f.form.valid && register()">
                            <div class="alert alert-danger" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                            <div class="row">
                                <div class="col-5 mb-3">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <mat-hint>Enter your Email</mat-hint>
                                        <input matInput type="email" placeholder="Email" required
                                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                                            [class.is-invalid]="email.invalid && email.touched" name="email" id="email"
                                            [(ngModel)]=user.email>
                                        <mat-error *ngIf="email.errors?.['required']">
                                            Email is required
                                        </mat-error>
                                        <mat-error *ngIf="email.errors?.['pattern']">
                                            Enter correct email
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-5 mb-3">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-hint>Enter your Fullname</mat-hint>
                                        <mat-label>Full Name</mat-label>
                                        <input matInput placeholder="Full Name" required #fullname="ngModel"
                                            [class.is-invalid]="fullname.invalid && fullname.touched" name="fullname"
                                            id="fullname" [(ngModel)]=user.fullName  pattern="[a-zA-Z ]{5,}">

                                        <mat-error *ngIf="fullname.errors?.['required']">
                                            Full name is required
                                        </mat-error>
                                        <mat-error *ngIf="fullname.errors?.['pattern']">
                                            Invalid Name
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div ngModelGroup="passwordGroup"
                                [class.is-invalid]="confrimpassword.invalid && confrimpassword.touched && !confrimpassword.errors?.['required']">
                                <div class="row">
                                    <div class="col-5 mb-3">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input matInput type="password" placeholder="Password" id="password"
                                                (input)="confrimpassword.control.updateValueAndValidity()"
                                                name="password" 
                                                [class.is-invalid]="password.invalid && password.touched"
                                                [(ngModel)]="user.password" #password="ngModel" required>
                                            <mat-hint>Choose secure password</mat-hint>
                                            <mat-error *ngIf="password.errors?.['required']">
                                                Password is required
                                            </mat-error>
                                            
                                        </mat-form-field>
                                    </div>



                                    <div class="col-5 mb-3">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Confrim Password</mat-label>
                                            <input matInput type="password" placeholder="Confrim Password"
                                                id="confrimpassword" name="confrimpassword"
                                                appConfrimEqualValidator="password"
                                                [class.is-invalid]="confrimpassword.invalid && confrimpassword.touched"
                                                [(ngModel)]="user.confrimpassword" #confrimpassword="ngModel" required>
                                            <mat-hint>Enter Confrim password</mat-hint>

                                            <mat-error *ngIf="confrimpassword.errors?.['required']">
                                                Comfrim Password is required
                                            </mat-error>
                                            <mat-error
                                                *ngIf="confrimpassword.touched && confrimpassword.errors?.['notEqual'] && !confrimpassword.errors?.['required'] ">Password
                                                and Confrim Password does not match</mat-error>

                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 mb-3">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>username</mat-label>
                                        <input matInput placeholder="username" required #username="ngModel"
                                            [class.is-invalid]="username.invalid && username.touched" name="username"
                                            pattern="[A-Za-z]{6,}"
                                            id="username" [(ngModel)]=user.username>
                                        <mat-hint>Enter your username</mat-hint>
                                        <mat-error *ngIf="username.errors?.['required']">
                                            username is required
                                        </mat-error>
                                        <mat-error *ngIf="username.errors?.['pattern']">
                                           Enter min 6 letters username
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-5 mb-3">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Phone Number</mat-label>
                                        <mat-hint>Enter Valid Phone Number</mat-hint>
                                        <input matInput type="tel" placeholder="PhoneNumber" required
                                            pattern="^((\\+91-?)|0)?[0-9]{10}$" #phoneNumber="ngModel"
                                            [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"
                                            name="phoneNumber" id="phoneNumber" [(ngModel)]=user.phoneNumber>
                                        <mat-error *ngIf="phoneNumber.errors?.['required']">
                                            Phone Number is required
                                        </mat-error>
                                        <mat-error *ngIf="phoneNumber.errors?.['pattern']">
                                            Enter 10 digit phone Number
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="container text-center">
                                <button type="submit" [disabled]="f.form.invalid" mat-raised-button color="primary"
                                    style="font-family: 'Quicksand', sans-serif;">Register</button>
                                <!-- <button [routerLink]="['/login']" mat-raised-button
                                    style="margin-left: 20px; font-family: 'Quicksand', sans-serif;"
                                    color="accent">Login</button> -->
                                    <button [routerLink]="['/landing-page']" mat-raised-button
                                    style="margin-left: 20px; font-family: 'Quicksand', sans-serif;"
                                    color="accent">Home</button>
                            </div>
                            <div class="inputBx"><br>
                                <p>Already have an account? <a href="/login">Login</a></p>
                              </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>